/* GENERAL STYLES */
body{
    margin: 0;
    overflow: hidden;
    height:100dvh;
}

/* TITLE */
#chatHeader{
    text-align: center;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 8px rgba(255, 255, 241, 0.667);
    margin: 5px 0 5px 0;
}

/* MAIN CHAT*/
.main-wrapper{
    width:100%;
    height:100dvh;
    background-color: rgb(34, 23, 23);
    display: flex;
    flex-direction: column;
    padding: 10px 5px;
    box-sizing: border-box;
}

/* NAME INPUT */
#nameWrapper input{
    background-color: white;
    padding: 2.5px 20px;
    border: none;
    border-radius: 5px;
    height:20px;
}

#nameWrapper p{
    display: inline;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#nameWrapper button{
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    background-color: rgb(112, 93, 93);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

/* CHAT THREAD */
#threadWrapper{
    background-color: rgb(41, 39, 48);
    flex-grow: 1;
    margin: 15px 0px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}

#threadWrapper ul{
    list-style: none;
    padding:10px;
    overflow: scroll;
}

#threadWrapper li{
    margin-top: 5px;
    padding: 5px 2px;
}

/* ---- MESSAGE PARTS ------*/
/* USER */
.who{
    color: rgb(176, 234, 244);
    margin-right: 3px;
    font-style: italic;
}

/* TEXT */
.words{
    color: white; 
}

#threadWrapper li:nth-child(even){
    background-color: rgba(204, 230, 255, 0.245);
}

/* ----- CHAT FORM -----*/
#chatForm{
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

#chatForm input{
    flex-grow: 1;
    padding: 5px 5px;
    border-radius: 5px;
    height:20px;
}

#chatForm input::placeholder {
    color: rgb(15, 0, 4);
}

/* BUTTON */
#chatForm button {
    padding: 5px 15px;
    border: none;
    border-radius: 15px;
    background-color: rgb(112, 93, 93);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}  

#chatForm button:hover {
    background-color: rgb(212, 174, 174);
}

/* SYSTEM NOTIFICATION */
.system {
    text-align: right;
    font-style: italic;
    color: rgb(185, 185, 185);
    margin-top: 5px;
    padding: 5px 2px;
}