/* OVERLAYS */
body {
    overflow: hidden; 
    margin: 0;
    padding: 0;
    height: 100%;
}

.overlay {
    position: fixed;
    padding: 0px 25px;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Courier;
    z-index: 10000;
}

/* NAME ENTRY */
.nameBox {
    background: rgb(14, 99, 107);
    padding: 15px 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 2px 22px rgb(173, 244, 232);
    color: rgb(255, 255, 255);
}
 
.nameBox input {
    margin: 10px 0;
    padding: 8px 6px;
    border-radius: 20px;
    font-size: 10px;
    width: 70%;
    box-sizing: border-box;
}
 
.nameBox button {
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    background: white;
    border: none;
}

.avatar-btn {
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 22px;
    font-size: 14px;
    border-radius: 25px;
    background: rgb(14, 99, 107);
    box-shadow: 0 2px 22px rgb(173, 244, 232);
    color: white;
    cursor: pointer;
    display: none;
    z-index: 9999;
}

#clearAvatar {
    top: 82%; /* slightly lower than submit button */
    left: 50%;
    transform: translateX(-50%);
    background: rgb(220, 50, 50); /* red color for clear */
}

#p5-canvas-container canvas {
    position: fixed;  
    z-index: 1;
}