body{
    margin: 0;
}


/* NAME COVER */
.overlay {
    position: fixed;
    padding: 0px 25px;
    inset: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Courier; 
}

.nameBox {
    background: rgb(14, 99, 107);
    padding: 15px 20px;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 2px 22px rgb(173, 244, 232);
    color: rgb(255,255,255);
}

.nameBox input {
    margin: 10px 0;
    padding: 8px 6px;
    border-radius: 20px;
    font-size: 10px;
    width: 70%;
    box-sizing: border-box;
}

.nameBox button {
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
}

#requestGPS {
    display: none; 
}

/* Ready Button */
#readyButton {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000; /* <- make sure map is behind it !!!!! */
}
  
/* SUBMIT CODE Button */
#submitCodeButton {
    display: none;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(9, 92, 9);
    font-size: 16px;
    cursor: pointer;
    z-index: 1000; /* <- make sure map is behind it !!!!! */
}

#submitCodeButton:hover {
    background-color: rgb(9, 92, 9);
}

#submitCodeButton.active {
    background-color: rgb(255, 235, 57);
    color: #000;
    box-shadow: 0 0 15px rgb(255, 235, 57);
}